<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<title>诗人路线--李白</title>
		
	</head>

	<body>
		<div id="applicationDiv">诗人路线--李白</div>
	</body>

</html>