/****************************************弹出窗口******************************************/
/*整体诗歌显示Div*/
#drag {
	/*位置*/
	position: absolute;
	/*背景*/
	background-image: url(../img/Popdiv_background.png);
	background-size: 100%;
	background-repeat: no-repeat;
	/*边界弧度*/
	border-radius: 5px;
	/*显示层*/
	z-index:1000;
	/*可视度：隐藏*/
	visibility: hidden;
}
#drag img{
	width: 100%;
	height: 100%;
}

/*显示标题div*/
#drag .title {
	position: relative;
	height: 50px;
	padding: 0px;
	margin: 5px;
}

#drag .title div {
	position: absolute;
	top: 2px;
	right: 0;
}

/*窗口关闭按钮*/
#Popdiv_closebtn{
	float: right;
	right: 5px;
	width: 70px;
	height: 70px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-image: url(../img/popdiv_closebtn.png);
	
}


/*诗内容显示部分*/
#drag .content {
	position: absolute;	
	padding-left: 30px;
	padding-right: 20px;
	padding-bottom: 10px;
	margin-top: 50px;
	margin-right: 29px;
	height: 500px;
	overflow: auto;
	background-image: url(../img/popdiv_poemBG.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	
}

/*诗歌滚动条*/
.content_scroll::-webkit-scrollbar {/*滚动条整体样式*/
        width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
    }
.content_scroll::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #FFF8DC;
    }
.content_scroll::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #FFFFF0;
    }

/*诗_标题*/
#Poem_name {
	font-family: "楷体";
	font-size: 24px;
	height: 27px;
	line-height: 24px;
}

/*诗_图片*/
#Poem_Picture {
	position: absolute;
	width: 100px;
	height: 150px;
	top: 50px;
	right: 10px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-image: url(../img/杜甫.jpg);
}


/*各边各角*/
#drag .resizeBR {
	position: absolute;
	width: 14px;
	height: 14px;
	right: 0;
	bottom: 0;
	overflow: hidden;
	cursor: nw-resize;
}

#drag .resizeL,
#drag .resizeT,
#drag .resizeR,
#drag .resizeB,
#drag .resizeLT,
#drag .resizeTR,
#drag .resizeLB {
	position: absolute;
	background: #000;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
}

#drag .resizeL,
#drag .resizeR {
	top: 0;
	width: 5px;
	height: 100%;
	cursor: w-resize;
}

#drag .resizeR {
	right: 0;
}

#drag .resizeT,
#drag .resizeB {
	width: 100%;
	height: 5px;
	cursor: n-resize;
}

#drag .resizeT {
	top: 0;
}

#drag .resizeB {
	bottom: 0;
}

#drag .resizeLT,
#drag .resizeTR,
#drag .resizeLB {
	width: 8px;
	height: 8px;
	background: #FF0;
}

#drag .resizeLT {
	top: 0;
	left: 0;
	cursor: nw-resize;
}

#drag .resizeTR {
	top: 0;
	right: 0;
	cursor: ne-resize;
}

#drag .resizeLB {
	left: 0;
	bottom: 0;
	cursor: ne-resize;
}
/***************************************/
/*显示诗歌Div*/
#Poem_show{
	padding: 0px;
	margin: 0 5px;

}
/*图片放置Div*/

/*****************************************************************************************/