<!--弹出窗口-->
<div id="drag">
	<div class="title">
		<div>
			<area id="Popdiv_closebtn" onclick="hidePopup()">
			</area>
		</div>
	</div>

	<!--定义div的边角，用于调节大小-->
	<div class="resizeL"></div>
	<div class="resizeT"></div>
	<div class="resizeR"></div>
	<div class="resizeB"></div>
	<div class="resizeLT"></div>
	<div class="resizeTR"></div>
	<div class="resizeBR"></div>
	<div class="resizeLB"></div>

	<div class="content content_scroll">
		<!--如果没有内容则显示提示信息-->
		<div id="empty"></div>

		<div id="Poem_Picture">

		</div>

		<div id="Poem_show">
			<h1 id="Poem_name">黄鹤楼</h1>
			<p id="Poet">【作者】崔颢</p>
			<p id="dynasty">【朝代】唐</p>
			<p id="Poem_content"> 昔人已乘黄鹤去，此地空余黄鹤楼。<br>黄鹤一去不复返，白云千载空悠悠。<br>晴川历历汉阳树，芳草萋萋鹦鹉洲。<br>日暮乡关何处是？烟波江上使人愁。 <br></p>
		</div>
		<br>

		<fieldset id="poemtranslate">
			<legend class="Poem_h1">【翻译】</legend>
			过去的仙人已经驾着黄鹤飞走了，这里只留下一座空荡荡的黄鹤楼。<br> 黄鹤一去再也没有回来，千百年来只看见悠悠的白云。
			<br> 阳光照耀下的汉阳树木清晰可见，鹦鹉洲上有一片碧绿的芳草覆盖。
			<br> 天色已晚，眺望远方，故乡在哪儿呢？眼前只见一片雾霭笼罩江面，给人带来深深的愁绪。
			<br>
		</fieldset>
		<br>

		<fieldset id="poemappreciation">
			<legend class="Poem_h1">【赏析】</legend>
			这首诗是吊古怀乡之佳作。诗人登临古迹黄鹤楼，泛览眼前景物，即景而生情，诗兴大作，脱口而出，一泻千里。既自然宏丽，又饶有风骨。诗虽不协律，但音节浏亮而不拗口。真是信手而就，一气呵成，成为历代所推崇的珍品。传说李白登此楼，目睹此诗，大为折服。说：“眼前有景道不得，崔颢题诗在上头。”严沧浪也说唐人七言律诗，当以此为第一。足见诗贵自然，纵使格律诗也无不如此。
		</fieldset>
		<br>

		<fieldset id="poemhistory">
			<legend class="Poem_h1"></legend>
		</fieldset>
		<br>

	</div>

</div>